<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <span class="navbar-brand">Mobx</span>
  <div class="navbar-collapse collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/mobx/vocabulary"> Vocabulary </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/mobx/todo"> Todo</a>
      </li>
    </ul>
  </div>
</nav>

<section class="router-outlet">
  <router-outlet></router-outlet>
</section>

