/* You can add global styles to this file, and also import other style files */

.router-outlet {
  padding: 20px;
  border: solid blue;
}

section {
  border: solid green;
  margin: 6px;
  padding: 6px;
}
