/* You can add global styles to this file, and also import other style files */

.router-outlet {
  padding: 5px;
  border: solid blue;
}

section {
  border: solid green;
  margin: 3px;
  padding: 3px;
}

h1, h2, h3 {
  font-size: 16px !important;
}
